---
title: "About"

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

const title = "About Us | Alpha MM Inc";
const description = 
  "Learn more about Alpha MM Inc and our 20+ years of experience in decking, balcony, and patio waterproofing in Los Angeles.";
const url = "https://www.alphamminc.com/about/";
const image = "/alpha-logo.png";
---

<Layout {title} {description} {url} {image}>
  <Header />
  
  <main class="relative flex-auto min-w-0 flex flex-col min-h-screen pt-0 justify-between">

    <div class="relative bg-[url('/house.jpg')] bg-cover bg-center h-[100vh]">
      <div class="absolute inset-0 bg-black bg-opacity-40 z-0"></div>
      <div class="relative z-10 flex flex-col justify-center h-full mx-4 md:mx-40">
        <h1 class="text-left text-white font-bold max-w-sm text-4xl md:text-6xl">
          ABOUT
        </h1>
        <h1 class="text-left text-white font-bold max-w-lg text-4xl md:text-6xl">
          ALPHA MM INC
        </h1>
        <p class="text-left text-white text-base md:text-xl font-semibold mt-5 md:mt-7 max-w-2xl">
          Founded in 2002, Alpha MM Inc is a leading decking contracting company based in Los Angeles, California, specializing in protecting decks, balconies, patios, stairways, and walkways from water.
        </p>
        <a
          href="/projects/"
          class="text-center text-white text-lg md:text-2xl font-bold mt-5 md:mt-10 inline-block px-6 py-3 border-2 border-white rounded-lg cursor-pointer hover:bg-white hover:text-black transition duration-300 ease-in-out max-w-xs"
        >
          VIEW OUR WORK ➜
        </a>
      </div>
    </div>

    <div class="bg-gray-100">
      <div class="flex flex-col text-left my-10 md:my-28 mx-4 md:mx-40">
        <h1 class="text-base md:text-lg font-medium text-sky-600 mb-5 md:mb-7">
          WHO WE ARE
        </h1>
        <h1 class="text-2xl md:text-5xl font-bold">
          High quality work at competitive prices.
        </h1>
        <p class="text-gray-700 text-base md:text-xl font-md mt-5 md:mt-7 max-w-3xl">
          Alpha MM Inc is a trusted leader in waterproofing and surface protection services, proudly serving Los Angeles and surrounding areas for over 20 years. We specialize in safeguarding decks, balconies, patios, stairways, and walkways from the elements, ensuring lasting durability and aesthetic appeal.
        </p>
        <p class="text-gray-700 text-base md:text-xl font-md mt-5 max-w-3xl">
          With a commitment to excellence, our team combines expert craftsmanship with the highest quality materials to deliver tailored solutions for both residential and commercial properties. From new construction to repairing existing structures, we offer a range of services, including surface repair, waterproof coatings, surface finishes, and resealing, all designed to extend the life of your investment.
        </p>
        <p class="text-gray-700 text-base md:text-xl font-md mt-5 max-w-3xl">
          At Alpha MM Inc, customer satisfaction is our top priority. Our dedication to quality, reliability, and competitive pricing has earned us a reputation as one of the top contractors for waterproofing needs in Southern California. Whether you’re looking to protect a new project or repair a leaky surface, we are here to help you every step of the way.
        </p>
        <p class="text-gray-700 text-base md:text-xl font-md mt-5 max-w-3xl">
          Choose Alpha MM Inc for your next waterproofing project, and experience the lasting quality and customer service that comes from our highly experienced team.
        </p>
        <div class="mt-10 md:mt-14 self-start">
          <a
            href="/contact/"
            class="text-center text-sky-600 text-lg md:text-2xl font-bold inline-block px-6 py-3 border-2 border-sky-600 bg-white rounded-lg cursor-pointer hover:bg-sky-600 hover:text-white transition duration-300 ease-in-out max-w-xs"
          >
            CONTACT US TODAY ➜
          </a>
        </div>
      </div>
    </div>

    <Footer />
  </main>
</Layout>