---
title: "Services"

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

const title = "Projects | Alpha MM Inc";
const description = 
  "View our portfolio of completed projects, from commercial decking to residential balcony repairs, in Los Angeles.";
const url = "https://www.alphamminc.com/projects/";
const image = "/alpha-logo.png";
---

<Layout {title} {description} {url} {image}>
  <Header />

  <main class="relative flex-auto min-w-0 flex flex-col min-h-screen pt-0 justify-between">

    <div class="relative bg-[url('/tools.jpg')] bg-cover bg-center h-[100vh]">
      <div class="absolute inset-0 bg-black bg-opacity-40 z-0"></div>
      <div class="relative z-10 flex flex-col justify-center h-full mx-4 md:mx-40">
        <h1 class="text-left text-white font-bold max-w-sm text-4xl md:text-6xl">
          OUR PROJECTS
        </h1>
        <p class="text-left text-white text-base md:text-xl font-semibold mt-5 md:mt-7 max-w-2xl">
          We have built a reputation for exceptionally high quality work and unbeatable customer service.
        </p>
        <a
          href="/services/"
          class="text-center text-white text-lg md:text-2xl font-bold mt-5 md:mt-10 inline-block px-6 py-3 border-2 border-white rounded-lg cursor-pointer hover:bg-white hover:text-black transition duration-300 ease-in-out max-w-xs"
        >
          WHAT WE OFFER ➜
        </a>
      </div>
    </div>

    <div class="bg-gray-100">
      <div class="flex flex-col items-center justify-between my-10 md:my-20 mx-4 md:mx-40">
        <h1 class="text-3xl text center md:text-5xl font-bold">
          Alpha MM Project Portfolio
        </h1>
        <p class="text-gray-700 text-center text-base md:text-xl font-md mt-5 md:mt-7 mb-10 md:mb-20 max-w-3xl">
          Our extensive portfolio covers both commercial and residential construction. 
          With thousands of completed projects, we have the experience you need.
        </p>

        <div class="flex flex-wrap justify-center gap-5 mb-10 md:mb-7">
          <img
            src="/walkway2.jpg"
            alt="Walkway Example"
            class="w-full sm:w-auto max-w-sm border-2 border-sky-600 shadow-xl"
          />
          <img
            src="/deck3.jpg"
            alt="Deck Example"
            class="w-full sm:w-auto max-w-sm border-2 border-sky-600 shadow-xl"
          />
          <img
            src="/stairway.jpg"
            alt="Stairway Example"
            class="w-full sm:w-auto max-w-sm border-2 border-sky-600 shadow-xl"
          />
        </div>

        <div class="flex flex-wrap justify-center gap-5 mb-10 md:mb-7">
          <img
            src="/deck.jpg"
            alt="Deck Example"
            class="w-full sm:w-auto max-w-sm border-2 border-sky-600 shadow-xl"
          />
          <img
            src="/walkway.jpg"
            alt="Walkway Example"
            class="w-full sm:w-auto max-w-sm border-2 border-sky-600 shadow-xl"
          />
          <img
            src="/landing.jpg"
            alt="Landing Example"
            class="w-full sm:w-auto max-w-sm border-2 border-sky-600 shadow-xl"
          />
        </div>

        <div class="flex flex-wrap justify-center gap-5 mb-10 md:mb-7">
          <img
            src="/deck2.jpg"
            alt="Deck Example"
            class="w-full sm:w-auto max-w-sm border-2 border-sky-600 shadow-xl"
          />
          <img
            src="/balcony.jpg"
            alt="Balcony Example"
            class="w-full sm:w-auto max-w-sm border-2 border-sky-600 shadow-xl"
          />
        </div>
      </div>

      <div class="relative bg-[url('/los-angeles.jpg')] bg-cover bg-center h-[95vh]">
        <div class="absolute inset-0 bg-black bg-opacity-20 z-0"></div>
        <div class="relative z-10 flex flex-col justify-center h-full mx-4 md:mx-40">
          <h1 class="text-left text-white font-bold max-w-sm text-4xl md:text-7xl">
            Providing Excellence For Over 20 Years.
          </h1>
          <a
            href="/about/"
            class="text-center text-white text-lg md:text-2xl font-bold mt-5 md:mt-10 inline-block px-6 py-3 border-2 border-white rounded-lg cursor-pointer hover:bg-white hover:text-black transition duration-300 ease-in-out max-w-xs"
          >
            READ ABOUT US ➜
          </a>
        </div>
      </div>
    </div>

    <Footer />
  </main>
</Layout>