---
title: "Services"

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Header />
    <main class="relative flex-auto min-w-0 flex flex-col min-h-screen px-2 md:px-0 justify-between">
        <div class="relative bg-[url('/tools.jpg')] bg-cover bg-center h-[95vh]">
			<div class="absolute inset-0 bg-black bg-opacity-40 z-0"></div>
			<div class="relative z-10 flex flex-col items-left ml-40 mr-40 justify-center h-full">
				<h1 class="text-left text-white text-6xl font-bold max-w-sm">
					OUR PROJECTS
				</h1>
				<p class="text-left text-white text-xl max-w-2xl font-semibold mt-7">
                    We have built a reputation for exceptionally high quality work and unbeatable customer service.
				</p>
				<a href="/services/" 
					class="text-center text-white text-2xl font-bold max-w-72 mt-10 inline-block px-6 py-3 border-2 border-white rounded-lg cursor-pointer hover:bg-white hover:text-black transition duration-300 ease-in-out">
				WHAT WE OFFER ➜
				</a>
			</div>
	  	</div>

        <div class="bg-gray-100">
            <div class="flex flex-col items-center justify-between my-20">
                <h1 class="text-5xl font-bold">
                    Alpha MM Project Porfolio
                </h1>
                <p class="text-gray-700 text-center max-w-3xl text-gray-700 text-xl font-md mt-7 mb-20">
                    Our extensive portfolio covers both commercial and residential construction. 
                    With thousands of completed projects, we have the expereince you need.
                </p>

                <div class="flex flex-row items-center justify-between max-w-max mx-40 space-x-5 mb-7">
                    <img src="/walkway2.jpg" class="max-w-sm border-2 border-sky-600 shadow-xl">
                    <img src="/deck3.jpg" class="max-w-sm border-2 border-sky-600 shadow-xl">
                    <img src="/stairway.jpg" class="max-w-sm border-2 border-sky-600 shadow-xl">
                </div>

                <div class="flex flex-row items-center justify-between max-w-max mx-40 space-x-5 mb-7">
                    <img src="/deck.jpg" class="max-w-sm border-2 border-sky-600 shadow-xl">
                    <img src="/walkway.jpg" class="max-w-sm border-2 border-sky-600 shadow-xl">
                    <img src="/landing.jpg" class="max-w-sm border-2 border-sky-600 shadow-xl">
                </div>

                <div class="flex flex-row items-center justify-between max-w-max mx-40 space-x-5">
                    <img src="/deck2.jpg" class="max-w-sm border-2 border-sky-600 shadow-xl">
                    <img src="/balcony.jpg" class="max-w-sm border-2 border-sky-600 shadow-xl">
                </div>
            </div>

            <div class="relative bg-[url('/los-angeles.jpg')] bg-cover bg-center h-[95vh]">
                <div class="absolute inset-0 bg-black bg-opacity-20 z-0"></div>
                <div class="relative z-10 flex flex-col items-left ml-40 mr-40 justify-center h-full">
                    <h1 class="text-left text-white text-7xl font-bold max-w-sm">
                        Providing Excellence For Over 20 Years.
                    </h1>
                    <a href="/about/" 
                        class="text-center text-white text-2xl font-bold max-w-72 mt-10 inline-block px-6 py-3 border-2 border-white rounded-lg cursor-pointer hover:bg-white hover:text-black transition duration-300 ease-in-out">
                    READ ABOUT US ➜
                    </a>
                </div>
            </div>           
        </div>

        <Footer />
    </main>
</Layout>