---

---
<nav class="flex flex-wrap items-center justify-between md:mx-40">
    <div class="flex flex-row items-center space-x-5">
        <a href="/">
            <img class="md:h-14" src="alpha-logo.png">
        </a>
        <a href="/" class="md:text-2xl text-center md:text-left font-bold text-white">
            ALPHA MM INC
        </a>
    </div>

    <div class="flex space-x-4 md:space-x-10 text-lg font-semibold text-white">
        <a href="/about/">About</a>
        <a href="/system/">System</a>
        <a href="/gallery/">Gallery</a>
        <a href="/contact/">Contact</a>
    </div>

    <hr class="w-full mt-2 border-neutral-400">
</nav>
