---

---

<!DOCTYPE html>
<html lang="en" class="text-black bg-white">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/alpha-logo.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>Alpha MM Inc</title>
        <meta
          name="description"
          content="Alpha MM Inc's company website."
        />
    </head>

    <body class="antialiased max-w-2x1 flex flex-col md:flex-row 
                mx-4 lg:mx-auto font-geist">
        <slot />
    </body>
</html>